<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="main.com.iglobdriver">

    <permission
        android:name="main.com.iglobdriver.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="technorizen.com.hitchpartner.permission.MAPS_RECEIVE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PayoutActivity"></activity>
        <activity
            android:name=".MainActivityDummy"
            android:label=""
             />
        <activity
            android:name=".activity.ChatingAct"
            android:label=""
             />
        <activity
            android:name=".activity.AddVehicle"
            android:label=""
             />
        <activity
            android:name=".activity.AboutUsAct"
            android:label=""
             />
        <activity
            android:name=".activity.PrivacyPolicyAct"
            android:label=""
             />
        <activity
            android:name=".activity.TermsConditions"
            android:label=""
             />
        <activity
            android:name=".activity.InviteEarnAct"
            android:label=""
             />
        <activity
            android:name=".activity.EmergencyActivity"
            android:label=""
             />
        <activity
            android:name=".activity.AddBankAccountAct"
            android:label=""
             />
        <activity
            android:name=".paymentclasses.SaveCardDetail"
            android:label=""
             />
        <activity
            android:name=".paymentclasses.MyCardsPayment"
            android:label=""
             />
        <activity
            android:name=".activity.ManageDocumentAct"
            android:label=""
             />
        <activity
            android:name=".activity.MyVehiclsAct"
            android:label=""
             />
        <activity
            android:name=".activity.UpdateVehicle"
            android:label=""
             />
        <activity
            android:name=".activity.ProfileAct"
            android:label=""
             />
        <activity
            android:name=".draweractivity.BaseActivity"
            android:label=""
             />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/googlekey" />

        <activity android:name=".activity.WelcomeAct" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginAct"
             />
        <activity
            android:name=".activity.ForgotPassword"
             />
        <activity
            android:name=".activity.SetLocation"
             />
        <activity
            android:name=".activity.SignupActivity"
             />
        <activity
            android:name=".activity.PaymentAct"
             />
        <activity
            android:name=".MainActivity"
            android:label=""
             />
        <activity
            android:name=".activity.TripStatusAct"
            android:label=""
             />

        <service
            android:name=".service.TrackingService"
            android:enabled="true" />

        <receiver android:name=".constant.MyReceiver" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.DashBoardAct"
            android:label=""
             />
        <activity
            android:name=".activity.TransectionHistory"
             />
        <activity
            android:name=".activity.RideHistory"
             />
        <activity
            android:name=".paymentclasses.ConfirmPayment"
             />
        <activity
            android:name=".activity.RideDetailAct"
             />
        <activity
            android:name=".activity.WalletAct"
             />
        <activity
            android:name=".activity.WithdrawMoney"
             />
        <activity
            android:name=".activity.CashOutAct"
             />
        <activity
            android:name=".activity.FavoriteUserAct"
             />
        <activity
            android:name=".activity.MobileVerificationActivity"
             />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
             />
        <activity
            android:name=".activity.PerformanceAct"
             />
        <activity
            android:name=".activity.SupportAct"
            android:label=""
             />
        <activity
            android:name=".activity.InvoiceActivity"
            android:label=""
             />
        <activity
            android:name=".activity.NotificationAct"
            android:label="" />
        <activity
            android:name=".paymentclasses.CreateCustomerFromCard"
            android:label="" />
        <activity android:name=".activity.RiderFeedbackAct" />
        <activity android:name=".activity.BookingActivity" />
    </application>

</manifest>